table {
	border-spacing: 3em;
	text-align: center;
}
section{
	height: auto;
	width: 75%;
	}

tr{
	padding: 3em;
}
section td{
	padding: 1em;
	background-color: #6699FF;
	box-shadow: .5em .5em .5em .5em yellow;
	border-radius: 10%;
}

h3, p {
	border-radius: 5%;
}
body{
	background-color: #99FF99;
	font-family: 'Patrick Hand SC', cursive;
}
#pic{
	width: 75%;
	border-radius: 60%;
	border: dashed .5em;
}
#headertable{
	width: 90%;
}
#headertable td{
	width: 30%
}