.chorus{
	color: red;
	font-size: 100%;
}
#header{
	height: 70px;
	width: 75%;
	position: absolute;
}
#sidebar{
	width: 100px;
	float: left;
	padding-right: 100px;
}
#content{
	margin: 100px;
	padding: 100px;
	border: 4px dotted #000000;
}